<h1>About Us</h1>

<%= image_tag url_to_image('victor') %>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat officiis, nulla laudantium aut inventore? Natus assumenda vitae non, eos dolore alias dolores, dolorum fuga ipsum, rerum minima incidunt! Quam, repellat?</p>