<div class="jumbotron text-center">
	<h1>Welcome to Zvelops app.</h1>

	<p>
		<%= link_to 'Sign up', '#', class: 'btn btn-default' %>
		<%= link_to 'Log in', '#', class: 'btn btn-default' %>
	</p>
</div>

